:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --blue-400: #7EA8B9;
    --blue-800: #005576;
    --blue-900: #003B52;
    --white: #FFFFFF;
    --black: #0B0C0C;
    --beige-100: #FDF8F4;
    --beige-200: #F4F0EB;
    --beige-300: #EEE8E1;
    --beige-500: #E3D9CE;
    --beige-800: #CDC0B1;
    --grey-100: #DADADA;
    --grey-300: #BABABA;
    --grey-500: #868686;
    --grey-800: #656565;
    --grey-900: #545454;
    --yellow-800: #FFC979;
    --yellow-900: #FFBC57;
    --red-100: #F9E5EB;
    --red-300: #E9B0C2;
    --red-900: #C0003C;
    --green-900: #005C45;
    --purple-900: #100052;
    --facebook-color: #3B5998;
    --facebook-hover-color: #2F4779;
    --whatsapp-color: #25D366;
    --whatsapp-hover-color: #25C05F;
    --text-color: var(--black);
    --secondary-text-color: var(--grey-900);
    --inverse-text-color: var(--white);
    --border-color: var(--grey-300);
    --hover-border-color: var(--blue-900);
    --active-outline-color: var(--beige-800);
    --link-color: var(--blue-800);
    --link-hover-color: var(--blue-900);
    --link-visited-color: var(--purple-900);
    --link-active-color: var(--black);
    --link-active-hover-color: var( --blue-400);
    --link-underline-color: rgba(10, 10, 25, 0.2);
    --icon-default-color: var(--beige-500);
    --icon-hover-color: var(--beige-800);
    --focus-color: var(--yellow-800);
    --focus-text-color: var(--black);
    --focus-border-color: var(--black);
    --body-color: var(--beige-100);
    --bg-highlight-color: var(--beige-300);
    --bg-white: var(--white);
    --success-color: var(--green-900);
    --error-color: var(--red-900);
    --error-bg-color: var(--red-100);
    --facebook-active-hover-color: var(--facebook-color);
    --whatsapp-active-hover-color: var(--whatsapp-color);
    --email-color: var(--grey-800);
    --email-hover-color: var(--grey-900);
    --email-active-hover-color: var(--email-color);
    --copy-hover-active-color: var(--blue-800);
    --button-disabled-bg-color: var(--blue-400);
    --button-disabled-outline-bg-color: var(--beige-300);
    --button-outline-color: var(--grey-300);
    --button-disabled-outline-font-color: var(--grey-900);
    --button-primary-pressed-bg-color: var(--blue-800);
    --font-fallback: 'Arial Narrow', 'Arial Nova', sans-serif;
    --font-main: "BundesSansWeb", var(--font-fallback);
    --font-regular-italic: "BundesSansWeb Italic", var(--font-fallback);
    --font-bold-italic: "BundesSansWeb Bold Italic", var(--font-fallback);
    --font-bold: "BundesSansWeb Bold", var(--font-fallback);
    --text-sm: 0.785rem;
    --text-sb: 0.875rem;
    --text-s: 0.9rem;
    --text-base: 1rem;
    --text-medium: 1.125rem;
    --text-medium-big: 1.25rem;
    --text-xl: 1.375rem;
    --text-xla: 1.5rem;
    --text-xxl: 1.6125rem;
    --text-2xl: 1.625rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 2.5rem;
    --font-normal: 400;
    --tracking-tight: -0.02em;
    --tracking-normal: 0;
    --tracking-wide: 0.02em;
    --tracking-extra-wide: 0.07em;
    --lineheight-none: 1em;
    --lineheight-xs: 1.1em;
    --lineheight-s: 1.2em;
    --lineheight-m: 1.3em;
    --lineheight-default: 1.45em;
    --lineheight-l: 1.6em;
    --spacing-01: 0.375rem;
    --spacing-02: 0.625rem;
    --spacing-03: 1rem;
    --spacing-04: 1.25rem;
    --spacing-05: 1.5rem;
    --spacing-06: 1.875rem;
    --spacing-06a: 2rem;
    --spacing-07: 2.5rem;
    --spacing-07a: 3rem;
    --spacing-08: 3.125rem;
    --spacing-09: 3.75rem;
    --spacing-10: 5.625rem;
    --spacing-11: 7.5rem;
    --spacing-12: 9rem;
    --spacing-13: 9.5rem;
    --input-width-2: 3.5rem;
    --input-width-3: 3.8rem;
    --input-width-4: 5rem;
    --input-width-5: 5.8rem;
    --input-width-6: 7rem;
    --input-width-10: 16.5rem;
    --input-width-25: 23.5rem;
    --sidebar-width: 220px;
    --main-max-width: 1000px;
    --pages-max-width: 1024px;
    --back-link-size: 1.5rem;
    --header-navigation-height: var(--spacing-09);
    --button-height: 64px;
    --button-height-narrow: 48px;
    --transition-behaviour: 0.25s;
    --transition-time: ease-in-out;
}
/* Global styles. */

/* GENERAL */
@font-face {
    font-family: "BundesSansWeb";
    src: url("fonts/BundesSans-Web-Regular.woff2"),
      url("fonts/BundesSans-Web-Regular.woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "BundesSansWeb Bold";
    src: url("fonts/BundesSans-Web-Bold.woff2"),
      url("fonts/BundesSans-Web-Bold.woff");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "BundesSansWeb Italic";
    src: url("fonts/BundesSans-Web-RegularItalic.woff2"),
      url("fonts/BundesSans-Web-RegularItalic.woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "BundesSansWeb Bold Italic";
    src: url("fonts/BundesSans-Web-BoldItalic.woff2"),
      url("fonts/BundesSans-Web-BoldItalic.woff");
    font-weight: 700;
  }
  
  html {
    font-size: 16px;
  }
  
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: var(--font-main);
  }
  
  body {
    background: var(--body-color);
    font-size: var(--text-medium);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* LINKS */
  a {
    text-decoration: underline;
    text-underline-offset: var(--spacing-01);
    text-decoration-color: var(--link-underline-color);
    color: var(--link-color);
  
    background-clip: border-box;
  }
  
  .banner-link {
    color: var(--inverse-text-color);
    text-decoration-color: var(--inverse-text-color);
  }
  
  .banner-link:hover {
    color: var(--inverse-text-color);
    text-decoration-color: var(--inverse-text-color);
  }
  
  a:hover {
    text-decoration-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }
  
  a:active {
    text-decoration-color: var(--link-active-color);
    color: var(--link-active-color);
  }
  
  a:visited {
    text-decoration-color: var(--link-visited-color);
    color: var(--link-visited-color);
  }
  
  /* INPUTS */
  .input-width-2 {
    width: var(--input-width-2);
    max-width: var(--input-width-2);
  }
  
  .input-width-3 {
    width: var(--input-width-3);
    max-width: var(--input-width-3);
  }
  
  .input-width-4 {
    width: var(--input-width-4);
    max-width: var(--input-width-4);
  }
  
  .input-width-5 {
    width: var(--input-width-5);
    max-width: var(--input-width-5);
  }
  
  .input-width-6 {
    width: var(--input-width-6);
    max-width: var(--input-width-6);
  }
  
  .input-width-10 {
    width: var(--input-width-10);
    max-width: var(--input-width-10);
  }
  
  .input-width-25 {
    max-width: var(--input-width-25);
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input.form-control {
    border: 2px solid var(--border-color);
    border-radius: 0;
    min-height: 55px;
  }
  
  input.form-control:hover:enabled {
    border: 2px solid var(--hover-border-color);
  }
  
  input.form-control:focus-visible {
    border: 2px solid var(--border-color);
    box-shadow: 0 0 0 2px var(--focus-color);
  }
  
  input.form-control:active {
    border: 2px solid var(--border-color);
    box-shadow: 0 0 0 2px var(--active-outline-color);
  }
  
  input.form-control:disabled {
    background-color: var(--beige-200);
    color: var(--grey-900);
  }
  
  input.form-control.field-error-found {
    border: 2px solid var(--error-color);
  }
  
  .steuerlotse-select {
    border: 2px solid var(--border-color);
    border-radius: 0;
    background: #fff url("/icons/select_icon.svg") no-repeat right 0.75rem center;
    min-height: 55px;
  }
  
  .steuerlotse-select:focus-visible {
    border: 2px solid var(--focus-border-color);
    box-shadow: 0 0 0 2px var(--focus-color);
  }
  
  .input-group input,
  .input-group input:hover,
  .input-group input:focus,
  .input-group input:active {
    border: 2px solid var(--border-color);
    box-shadow: none;
  }
  
  .input-group.euro-field:focus-within {
    box-shadow: 0 0 0 2px var(--focus-color);
  }
  
  .input-group.euro-field:active {
    box-shadow: 0 0 0 2px var(--active-outline-color);
  }
  
  .euro-field-appendix {
    margin-left: -2px;
    padding: 0 1.25rem 0 1.25rem;
  
    font-family: var(--font-bold);
    color: var(--text-color);
  
    background-color: var(--bg-highlight-color);
    border: 2px solid var(--border-color);
    border-radius: 0;
  }
  
  /* ERRORS */
  .invalid-feedback {
    font-size: var(--text-sm);
    font-family: var(--font-bold);
    color: var(--error-color);
  }
  
  img.invalid-feedback {
    display: inline;
    vertical-align: middle;
    height: 2em;
    width: 2em;
    margin-right: 9px;
  }
  
  .example-input {
    color: var(--secondary-text-color);
    margin-bottom: var(--spacing-01);
  }
  
  .error-found-line {
    margin-left: var(--spacing-02);
    padding-left: var(--spacing-04) !important;
    border-left: 2px solid var(--error-color);
  }
  
  /* LISTS */
  ol {
    counter-reset: steuerlotse-ol;
    list-style: none;
  }
  
  ol li {
    margin-bottom: var(--spacing-02);
    counter-increment: steuerlotse-ol;
    position: relative;
  }
  
  ol li::before {
    --size: 1.5em;
    content: counter(steuerlotse-ol);
    position: absolute;
  
    left: calc(-1 * var(--size) - 12px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
  
    text-align: center;
    font-family: var(--font-bold);
    color: var(--text-color);
  
    background: var(--icon-default-color);
  
    border-radius: 50%;
  }
  
  /* Main Content */
  .main {
    margin-right: 0;
    min-height: 100vh;
  
    background: var(--body-color);
  }
  
  @media (max-width: 1024px) {
    .main {
      margin-left: 0;
    }
  }
  
  .main-content {
    max-width: var(--pages-max-width);
    padding: 1.5rem var(--spacing-03) var(--spacing-10);
    flex: 1;
  }
  
  @media (min-width: 769px) {
    .main-content {
      padding-left: var(--spacing-06);
      padding-right: var(--spacing-06);
    }
  }
  
  @media (min-width: 1280px) {
    .main-content {
      padding-left: var(--spacing-12);
    }
  }
  
  .main-content--full-width {
    padding-top: 1.5rem;
  }
  
  .main-content--full-width--no-padding {
    padding-top: 0;
  }
  
  .list-unstyled li a {
    color: var(--text-color);
  }
  
  .form-list {
    list-style-image: url("/images/list_marker.svg");
  }
  
  .form-list li::before {
    vertical-align: text-top;
    height: 1px;
  }
  
  .form-list li {
    margin-top: var(--spacing-02);
  }
  
  .bold {
    font-weight: 700;
  }
  
  /* From here on: somewhat unorganised styles that used to live in the original base.css. */
  /* TODO: Review which are actually base styles and which should move into React components.
           When moving styles to components which are still used by non-componentized markup,
           move the style definition to assorted.css. */
  .list-unstyled li a {
    color: var(--text-color);
  }
  
  .btn:focus,
  .btn-primary:focus,
  .btn-secondary:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .btn-secondary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-outline-secondary {
    border-radius: 0;
  }
  
  .btn-help {
    width: 22px !important;
    height: 22px !important;
    border-radius: 11px !important;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-input-field-label {
    margin-top: var(--spacing-01);
    font-size: var(--text-medium);
    font-family: var(--font-bold);
  }
  
  .optional-hint {
    font-size: var(--text-medium);
  }
  
  .form-row-center {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: var(--spacing-03);
    /* This moved the border further outside to allow for the children to fill that space with margin,
      allowing the children to have space between them. See the bootstrap row/column technique. */
    margin-left: calc(-1 * var(--spacing-02));
    margin-right: calc(-1 * var(--spacing-02));
  }
  
  .separated-field {
    flex-wrap: nowrap;
    margin-top: 0;
  }
  
  .entries-field {
    flex-wrap: nowrap;
  }
  
  .form-row-center > * {
    margin: 0 var(--spacing-02);
  }
  
  .grouped-input-fields {
    width: 100%;
  }
  
  .grouped-input-fields > .form-row-center {
    margin-top: 0;
  }
  
  .grouped-input-fields .text-input-field-label {
    margin-top: var(--spacing-06);
  }
  
  @media (max-width: 360px) {
    .grouped-input-fields .text-input-field-label {
      margin-top: var(--spacing-04);
    }
  }
  
  h1,
  h2,
  h3 {
    font-family: var(--font-bold);
  }
  
  h1 {
    font-size: var(--text-4xl);
  }
  
  @media (max-width: 1024px) {
    h1 {
      font-size: var(--text-3xl);
    }
  }
  
  h3 {
    font-size: var(--text-3xl);
  }
  
  h4 {
    padding-bottom: var(--spacing-02);
    padding-top: var(--spacing-02);
  }
  
  .form-sub-heading {
    font-size: var(--text-2xl);
    margin-top: var(--spacing-08);
    margin-bottom: 0;
  }
  
  .form-sub-heading-bigger {
    font-size: var(--text-2xl);
    margin-top: var(--spacing-10);
    margin-bottom: 0;
  }
  
  .form-sub-heading-smaller {
    font-size: var(--text-medium);
    margin-top: var(--spacing-09);
    margin-bottom: var(--spacing-03);
  }
  
  ul.margin-only-between li {
    margin-top: var(--spacing-04);
  }
  
  ul.margin-only-between li:first-child {
    margin-top: var(--spacing-02);
  }
  
  ul.reasons-success li {
    margin-top: var(--spacing-01);
  }
  
  ul.reasons-success li.and {
    list-style: none;
  }
  
  .card-half-transparent {
    background-color: #ffffffd6;
  }
  
  .card {
    border: none;
    border-radius: inherit;
  }
  
  .card-body {
    border: 1px solid var(--border-color);
  }
  
  .unstyled-card-header {
    background-color: var(--body-color);
    border: none;
    padding: 0 0 var(--spacing-02);
  }
  
  .simple-card {
    background-color: var(--bg-white);
    padding: var(--spacing-07);
    margin-top: var(--spacing-06);
  }
  
  .simple-card .field-label {
    font-size: var(--text-medium);
  }
  
  img.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  
  .alert {
    border-radius: 0;
    border: 0;
    padding: var(--spacing-05);
  }
  
  .alert-success {
    background-color: var(--success-color);
    color: white;
  }
  .alert-info {
    background-color: var(--blue-800);
    color: white;
  }
  
  .alert-warning {
    background-color: var(--error-color);
    color: white;
  }
  
  .form-row {
    margin-left: 0;
  }
  
  .steps-number {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: #bfd4ed;
  }
  
  .step-active small {
    color: #007bff;
    font-weight: bold;
  }
  
  .step-active .steps-number {
    background-color: #007bff;
    color: var(--inverse-text-color);
    font-weight: bold;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  #skip-to-content-div {
    background-color: var(--bg-highlight-color);
    display: flex;
    width: 100%;
  }
  
  #skip-to-content-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  #skip-to-content-link:focus {
    position: static;
    height: auto;
    width: auto;
    margin-top: var(--spacing-02);
    margin-bottom: var(--spacing-01);
    border: none;
    font-size: var(--text-base);
    font-family: var(--font-bold);
    color: var(--text-color);
  }
  
  @media (max-width: 1024px) {
    #skip-to-content-link:focus {
      margin-top: var(--spacing-04);
      margin-bottom: var(--spacing-03);
    }
  }
  
  .hidden {
    display: none;
  }
  
  .section-title {
    margin-bottom: var(--spacing-05);
  }
  
/* Homepage > Hero Section */
@media (min-width: 320px) {
  .hero{
    padding: 0 var( --spacing-06) 0 var( --spacing-06);
  }

  .hero__inner {
    max-height: 900px;
  }

  .hero__inner h1 {
    font-size: var( --text-3xl);
  }

  .hero__inner_headline {
    margin-right: 4%;
    margin-top: var( --spacing-10);
  }

  .hero__inner_image {
    max-width: 100%;
    height: auto;
    margin-top: var( --spacing-06);
    margin-bottom: var( --spacing-06);
    border-radius: 0;
    vertical-align: middle;
    object-fit: contain;
    display: none;
  }

  .hero__inner_image img{
    width: 100%;
    max-height: 100%;

    object-fit: contain;
  }
}

@media (min-width: 500px) {
  .hero{
    padding: 0 var( --spacing-06) 0 var( --spacing-06);
  }
  .hero__inner {
    max-height: 800px;
  }

  .hero__inner_headline {
    margin-top: var( --spacing-08);
  }

  .hero__inner_image {
    margin-top: var( --spacing-06);
    width: 100%;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .hero{
    padding: 0 var( --spacing-08) 0 var( --spacing-08);
    max-height: 650px;
  }

  .hero__inner {
    min-height: 80vh;
  }

  .hero__inner h1 {
    font-size: var( --text-3xl);
    margin-top: var(--spacing-08);
  }

  .hero__inner_headline {
    width: 48%;
    margin-right: 4%;
    margin-top: var( --spacing-10);
  }

  .hero__inner_image {
    width: 48%;
    max-height: 650px;
    margin-top: 0;
    object-fit: contain;
    display: block;
    vertical-align: middle;
  }

  .hero__inner_image img{
    max-height: 650px;
  }
}

/* Homepage > Accordion */
.accordion__home{
  margin: var( --spacing-11) auto;
}

/* Homepage > Teaser Section */
.teaser-card a {
  color: #212529;
  text-decoration: none;
}

.teaser-card img{
  position: absolute;
  height: var( --spacing-08);
  width: var( --spacing-08);
  right:  var( --spacing-04);
  bottom: var( --spacing-04);
}

.teaser-card-body {
  padding: var( --spacing-04);
  height: 100%;
}

@media (min-width: 320px) {
  .landing__section{
    margin-top: var( --spacing-07);
    background-color: var(--bg-highlight-color);
  }

  .landing__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var( --spacing-07);
    grid-row-gap: var( --spacing-03);
  }

  .teaser-card{
    position: relative;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    min-height: 300px;
  }

  .teaser-card h3{
    font-size: var( --text-2xl);
  }

  .teaser-card--left{
    grid-column: 1;
    grid-row: 1;
  }

  .teaser-card--middle{
    grid-column: 1;
    grid-row: 2;
  }

  .teaser-card--right{
    grid-column: 1;
    grid-row: 3;
  }
}

@media (min-width: 768px) {
  .landing__section{
    margin-top: 0;
    padding: 2rem 1rem 0 1rem;
  }

  .landing__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: var( --spacing-03);
   }

  .teaser-card{
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    min-height: 450px;
  }

  .teaser-card h3{
    font-size: var( --text-2xl);
  }

  .teaser-card--left{
    grid-column: 1;
    grid-row: 1;
  }

  .teaser-card--middle{
    grid-column: 2;
    grid-row: 1;
  }

  .teaser-card--right{
    grid-column: 3;
    grid-row: 1;
  }
}

@media (min-width: 1024px) {
  .landing__section{
    padding: 2rem 2rem 0 2rem;
  }

  .teaser-card h3{
    font-size: var( --text-3xl);
  }
}

@media (min-width: 1280px) {
  .landing__section{
    padding: 3rem 2rem 0 2rem;
  }

  .landing__grid{
    column-gap: var( --spacing-06);
   }
}

/* Navigation Bars: Sidebar + Mobile */
.logo-wrapper {
  margin-top: var(--spacing-07);
  margin-bottom: 4.5rem;
}

.logo-mobile-wrapper {
  border-right: var(--text-color) 1px solid;
  margin-right: var(--spacing-02);
}

.logo {
  width: 100%;
}

.part-navigation-container h2 {
  font-size: var( --text-sm);
  font-weight: var( --font-bold);
  text-transform: uppercase;
  letter-spacing: var( --tracking-wide);
}

@media (max-width: 1024px) {
  .logo {
    width: 75%;
  }
}

.mobile-toggler {
  padding: var(--spacing-02);
  font-size: var(--text-xl);
  background-color: transparent;
  border: 0;
  color: var(--text-color)
}

.navbar-collapse {
  padding: var(--spacing-02) 0;
}

@media (min-width: 992px) { /* the breakpoint of bootstraps navbar-toggler */
  .mobile-toggler {
    display: none;
  }
}

.sidebar {
  width:  var(--sidebar-width);
  position: fixed;
  height: 100%;
  padding-left: 0;
  background-color: var(--bg-white);
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.mobile-nav {
  background-color: var(--bg-white);
}

@media (min-width: 1025px) {
  .mobile-nav {
    display: none;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  display: block;
}

@media (max-width: 1024px) {
  .navbar-nav {
    display: flex;
  }
}

.nav .nav-link, a.nav-link{
  padding-left: var(--spacing-02);

  text-decoration: none;
  font-size: var(--text-base);
  color: var(--text-color);
  letter-spacing: var(--tracking-wide);
}

.nav .active .nav-link {
  font-family: var(--font-bold);
  color: var(--text-color);

  border-left: 4px solid var(--text-color);
}

span.nav-link.inactive, span.inactive {
  color: var(--secondary-text-color);
  cursor: default;
}

.bmf-info {
  position: fixed;
  bottom: 0;
  width: var(--sidebar-width);
}

.bmf-img {
  width: calc(0.85 * var(--sidebar-width));
}

/* Footer */
footer {
  border-top: 1px solid var(--icon-default-color);
  min-width: 100%;
  margin-top: var(--spacing-10);
}

@media (max-width: 768px) {
  footer .container-fluid {
    padding: 0;
  }
}

.footer-inner{
  padding-left: var(--spacing-03);
  padding-right: var(--spacing-03);
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.footer-inactive{
  color: var(--secondary-text-color);
  cursor: default;
  padding: var(--spacing-03);
  font-size: var(--text-medium);
}

footer a {
  color: var(--text-color);
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--text-color);
  text-underline-offset: .25em;
}

footer .footer-signature a{
  display: inline;
  padding: 0;
  font-size: var(--text-sb);
  color: var(--blue-800) ;
}

.about-stl {
  min-width: 290px;
  line-height: var(--lineheight-l);
}

.footer-footer {
  display: flex;
  font-size: var(--text-s);
  background-color: var(--bg-highlight-color);
}

.top-footer {
  display: flex;
  font-size: var(--text-s);
  padding: 8px 0;
}

@media (max-width: 1024px) {
  .top-footer .footer-inner {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .top-footer {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .top-footer .footer-inner .row {
    display: flex;
    flex-direction: column;
  }
}

.footer-footer a{
  padding: var(--spacing-03);
  display: block;
  text-decoration-color: var(--icon-default-color);
  color: var(--text-color);
  transition: all .3s ease;
}

.footer-signature {
  padding: var(--spacing-03);
  text-decoration-color: var(--icon-default-color);
  color: var(--grey-900);
  transition: all 0.3s ease;
}

.top-footer a {
  padding: var(--spacing-03);
  display: block;
  text-decoration-color: var(--icon-default-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: var(--text-medium);
}

footer .footer-signature a:hover{
  text-decoration-color: var(--blue-800);
}

.footer-footer a:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--text-color);
  text-underline-offset: .25em;
}

.top-footer a:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--text-color);
  text-underline-offset: 0.25em;
}

.logo-ds4g {
  width: 92px;
}
/* End Footer */

.nav-button-row {
  margin-top: var(--spacing-09);
}

.section-intro {
  margin-top: var( --spacing-11);
}

.header-navigation, .header-navigation + .section-intro {
  margin-top: var(--spacing-07);
}

.section-intro p {
  font-size: var(--text-medium);
}

@media (max-width: 1024px) {
  .section-intro {
    margin-top: var( --spacing-09); 
  }

  .header-navigation, .header-navigation + .section-intro {
      margin-top: var( --spacing-01);
  }
}

.explanatory-button-text {
  margin-bottom: 0;
  margin-left: var(--spacing-02);
}

.explanatory-button-text a {
  color: var(--text-color);
  font-family: var(--font-bold);
}
