/* Global styles. */

/* GENERAL */
@font-face {
  font-family: "BundesSansWeb";
  src: url("/fonts/BundesSans-Web-Regular.woff2"),
    url("/fonts/BundesSans-Web-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "BundesSansWeb Bold";
  src: url("/fonts/BundesSans-Web-Bold.woff2"),
    url("/fonts/BundesSans-Web-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "BundesSansWeb Italic";
  src: url("/fonts/BundesSans-Web-RegularItalic.woff2"),
    url("/fonts/BundesSans-Web-RegularItalic.woff");
  font-weight: 400;
}

@font-face {
  font-family: "BundesSansWeb Bold Italic";
  src: url("/fonts/BundesSans-Web-BoldItalic.woff2"),
    url("/fonts/BundesSans-Web-BoldItalic.woff");
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: var(--font-bold);
}

h1 {
  font-size: var(--text-4xl);
}

@media (max-width: 1024px) {
  h1 {
    font-size: var(--text-3xl);
  }
}

h3 {
  font-size: var(--text-3xl);
}

h4 {
  padding-bottom: var(--spacing-02);
  padding-top: var(--spacing-02);
}

:root {
  /* Colors */
  /* Primary Colors*/
  --blue-100: #ccdde4;
  --blue-400: #7ea8b9;
  --blue-800: #005576;
  --blue-900: #003b52;

  --white: #ffffff;
  --black: #0b0c0c;

  /*Neutrals*/

  --beige-100: #fdf8f4;
  --beige-200: #f4f0eb;
  --beige-300: #eee8e1;
  --beige-500: #e3d9ce;
  --beige-800: #cdc0b1;

  --grey-100: #dadada;
  --grey-300: #bababa;
  --grey-500: #868686;
  --grey-800: #656565;
  --grey-900: #545454;

  --note-color: #576164;

  /*Color Tokens*/

  --text-color: var(--black);

  --hover-border-color: var(--blue-900);
  --active-outline-color: var(--beige-800);

  --link-color: var(--blue-800);
  --link-hover-color: var(--blue-900);
  --link-visited-color: var(--purple-900);
  --link-active-color: var(--black);
  --link-active-hover-color: var(--blue-400);
  --link-underline-color: rgba(10, 10, 25, 0.2); /* original #0A0A19, 20%; */

  --focus-color: var(--yellow-800);
  --focus-text-color: var(--black);
  --focus-border-color: var(--black);

  --body-color: var(--beige-100);
  --bg-highlight-color: var(--beige-300);
  --bg-white: var(--white);

  /* Font Settings */

  --font-fallback: "Arial Narrow", "Arial Nova", sans-serif;
  --font-main: "BundesSansWeb", var(--font-fallback);
  --font-regular-italic: "BundesSansWeb Italic", var(--font-fallback);
  --font-bold-italic: "BundesSansWeb Bold Italic", var(--font-fallback);
  --font-bold: "BundesSansWeb Bold", var(--font-fallback);

  /* Font Size */
  --text-sm: 0.785rem;
  --text-sb: 0.875rem;
  --text-s: 0.9rem;
  --text-base: 1rem;
  --text-medium: 1.125rem;
  --text-medium-big: 1.25rem;
  --text-xl: 1.375rem;
  --text-xla: 1.5rem;
  --text-xxl: 1.6125rem;
  --text-2xl: 1.625rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;

  /* Font Weight */
  --font-normal: 400;

  /* Letter Spacing */
  --tracking-tight: -0.02em;
  --tracking-normal: 0;
  --tracking-wide: 0.02em;
  --tracking-extra-wide: 0.07em;

  /* Line Height */
  --lineheight-none: 1em;
  --lineheight-xs: 1.1em;
  --lineheight-s: 1.2em;
  --lineheight-m: 1.3em;
  --lineheight-default: 1.45em;
  --lineheight-l: 1.6em;

  /* Spacing */

  --spacing-01: 0.375rem;
  --spacing-02: 0.625rem;
  --spacing-03: 1rem;
  --spacing-04: 1.25rem;
  --spacing-05: 1.5rem;
  --spacing-06: 1.875rem;
  --spacing-06a: 2rem;
  --spacing-07: 2.5rem;
  --spacing-07a: 3rem;
  --spacing-08: 3.125rem;
  --spacing-09: 3.75rem;
  --spacing-10: 5.625rem;
  --spacing-11: 7.5rem;
  --spacing-12: 9rem;
  --spacing-13: 9.5rem;

  /* Specifics */

  --sidebar-width: 220px;
  --main-max-width: 1000px;
  --pages-max-width: 1024px;
  --back-link-size: 1.5rem;
  --header-navigation-height: var(--spacing-09);

  --button-height: 64px;
  --button-height-narrow: 48px;

  --transition-behaviour: 0.25s;
  --transition-time: ease-in-out;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-main);
}

body {
  background: var(--body-color);
  font-size: var(--text-medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: underline;
  text-underline-offset: var(--spacing-01);
  text-decoration-color: var(--link-underline-color);
  color: var(--link-color);
  background-clip: border-box;
}
